<h1>Implementing semantic interoperability of gene expression profiles using the HL7 FHIR standard</h1>
<p>
  The characterization of diseases using high-throughput omics technologies has an increasing relevance for individualized treatment decisions.
  Especially gene expression profiles can capture significant molecular differences that can foster patient stratification and pave the way towards precision medicine.
  Electronic health records already evolved to capture genomic data within clinical systems and standards like FHIR enable sharing within, and even between institutions.
</p>
<p>
  However, FHIR only provides profiles tailored to variations in the molecular sequence.
  Although expression patterns are neglected in FHIR, they are equally important for decision making.
</p>
<p>
  Here we provide an exemplary implementation of gene expression profiles of a microarray analysis of patients with acute myeloid leukemia using an adaption of the FHIR genomics extension.
  Our results demonstrate how FHIR resources can be facilitated in bioinformatics-based decision support systems or used for the aggregation of molecular genetics data in multi-center clinical trials.
</p>
